
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #f0f4f8, #d9e2ec);
    margin: 0;
    padding: 20px;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 30px;
}

form {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

select, button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow-x: auto;
    display: block;

}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #3498db;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #eaf2f8;
}


.pagination {
margin-top: 20px;
text-align: center;
}

.pagination a {
display: inline-block;
padding: 8px 12px;
margin: 0 4px;
text-decoration: none;
color: #3498db;
border: 1px solid #3498db;
border-radius: 4px;
transition: background-color 0.3s;
}

.pagination a:hover {
background-color: #3498db;
color: white;
}

.pagination a.active {
background-color: #2980b9;
color: white;
font-weight: bold;
border-color: #2980b9;
}
